/* NEEDS REVIEW prevent pre in table from causing article to exceed bounds */
/* NOTE assume pre.highlight contains code[data-lang] */
.doc {
  color: var(--doc-font-color);
  font-size: var(--doc-font-size);
  hyphens: auto;
  line-height: var(--doc-line-height);
  margin: var(--doc-margin);
  max-width: var(--doc-max-width);
  padding: 0 1rem 4rem;

  .listingblock:hover .source-toolbox {
    visibility: visible;
  }

  .source-toolbox {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    color: var(--pre-annotation-font-color);
    font-family: var(--body-font-family);
    font-size: calc(13.5 / var(--rem-base) * 1rem);
    line-height: 1;


    .copy-button {
      .copy-icon {
        flex: none;
        width: inherit;
        height: inherit;
      }
    }

    img.copy-icon {
      filter: invert(50.2%);
    }

    svg.copy-icon {
      fill: currentColor;
    }

    .copy-toast {
      flex: none;
      position: relative;
      display: inline-flex;
      justify-content: center;
      margin-top: 1em;
      background-color: var(--doc-font-color);
      border-radius: 0.25em;
      padding: 0.5em;
      color: var(--color-white);
      cursor: auto;
      opacity: 0;
      transition: opacity 0.5s ease 0.75s;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 1em;
        height: 1em;
        border: 0.55em solid transparent;
        border-left-color: var(--doc-font-color);
        transform: rotate(-90deg) translateX(50%) translateY(50%);
        transform-origin: left;
      }
    }

    .copy-button.clicked .copy-toast {
      opacity: 1;
      transition: none;
    }


    .source-lang {
      text-transform: uppercase;
      letter-spacing: 0.075em;
      font-size: 0.96em;
      line-height: 1.0425;
    }

    > :not(:last-child)::after {
      content: "|";
      letter-spacing: 0;
      padding: 0 1ch;
    }

    .copy-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: transparent;
      border: none;
      color: inherit;
      outline: none;
      padding: 0;
      font-size: inherit;
      line-height: inherit;
      width: 1em;
      height: 1em;
    }
  }


  h1 {
    color: var(--color-higlight);
    font-weight: var(--heading-font-weight);
    hyphens: none;
    line-height: 1.3;
    margin: 1rem 0 0;

    .anchor {
      position: absolute;
      text-decoration: none;
      width: 1.75ex;
      margin-left: -1.5ex;
      visibility: hidden;
      font-size: 0.8em;
      font-weight: normal;
      padding-top: 0.05em;

      &::before {
        content: "\00a7";
      }
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }

    strong {
      color: inherit;
    }
  }

  h2 {
    color: var(--color-higlight);
    font-weight: var(--heading-font-weight);
    hyphens: none;
    line-height: 1.3;
    margin: 1rem 0 0;

    &:not(.discrete) {
      border-bottom: 1px solid var(--section-divider-color);
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 0.4rem 1rem 0.1rem;
    }

    .anchor {
      position: absolute;
      text-decoration: none;
      width: 1.75ex;
      margin-left: -1.5ex;
      visibility: hidden;
      font-size: 0.8em;
      font-weight: normal;
      padding-top: 0.05em;

      &::before {
        content: "\00a7";
      }
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }

    strong {
      color: inherit;
    }
  }

  h3 {
    color: var(--color-higlight);
    font-weight: var(--heading-font-weight);
    hyphens: none;
    line-height: 1.3;
    margin: 1rem 0 0;

    &:not(.discrete) {
      font-weight: var(--alt-heading-font-weight);
    }

    .anchor {
      position: absolute;
      text-decoration: none;
      width: 1.75ex;
      margin-left: -1.5ex;
      visibility: hidden;
      font-size: 0.8em;
      font-weight: normal;
      padding-top: 0.05em;

      &::before {
        content: "\00a7";
      }
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }

    strong {
      color: inherit;
    }
  }

  h4 {
    color: var(--color-higlight);
    font-weight: var(--alt-heading-font-weight);
    hyphens: none;
    line-height: 1.3;
    margin: 1rem 0 0;

    .anchor {
      position: absolute;
      text-decoration: none;
      width: 1.75ex;
      margin-left: -1.5ex;
      visibility: hidden;
      font-size: 0.8em;
      font-weight: normal;
      padding-top: 0.05em;

      &::before {
        content: "\00a7";
      }
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }

    strong {
      color: inherit;
    }
  }

  h5 {
    color: var(--color-higlight);
    font-weight: var(--alt-heading-font-weight);
    hyphens: none;
    line-height: 1.3;
    margin: 1rem 0 0;

    .anchor {
      position: absolute;
      text-decoration: none;
      width: 1.75ex;
      margin-left: -1.5ex;
      visibility: hidden;
      font-size: 0.8em;
      font-weight: normal;
      padding-top: 0.05em;

      &::before {
        content: "\00a7";
      }
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }

    strong {
      color: inherit;
    }
  }

  h6 {
    font-weight: var(--heading-font-weight);
    hyphens: none;
    line-height: 1.3;
    margin: 1rem 0 0;

    .anchor {
      position: absolute;
      text-decoration: none;
      width: 1.75ex;
      margin-left: -1.5ex;
      visibility: hidden;
      font-size: 0.8em;
      font-weight: normal;
      padding-top: 0.05em;

      &::before {
        content: "\00a7";
      }
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }
  }

  > h1.page {
    &:first-child {
      font-size: calc(36 / var(--rem-base) * 1rem);
      margin: 1.5rem 0;
    }
  }

  .sect1 {
    + {
      .sect1 {
        margin-top: 2rem;
      }
    }
  }

  h1.sect0 {
    background: var(--abstract-background);
    font-size: 1.8em;
    margin: 1.5rem -1rem 0;
    padding: 0.5rem 1rem;
  }

  p {
    margin: 0;

    code {
      color: var(--code-font-color);
      background: var(--code-background);
      border-radius: 0.25em;
      font-size: 0.95em;
      padding: 0.125em 0.25em;
    }
  }

  td {
    code {
      color: var(--code-font-color);
      background: var(--code-background);
      border-radius: 0.25em;
      font-size: 0.95em;
      padding: 0.125em 0.25em;
    }
  }

  .tableblock {
    p {
      font-size: inherit;
    }

    caption {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      padding-bottom: 0.075rem;
      text-align: left;
    }

    pre {
      white-space: pre-wrap;
    }
  }

  a {
    color: var(--link-font-color);

    &:hover {
      color: var(--link_hover-font-color);
    }
  }

  a.unresolved {
    color: var(--link_unresolved-font-color);
  }

  i.fa {
    font-style: normal;
  }

  thead {
    code {
      color: var(--code-font-color);
      background: var(--code-background);
      border-radius: 0.25em;
      font-size: 0.95em;
      padding: 0.125em 0.25em;
    }
  }

  pre {
    font-size: calc(16 / var(--rem-base) * 1rem);
    line-height: 1.5;
    margin: 0;
  }

  blockquote {
    margin: 0;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .underline {
    text-decoration: underline;
  }

  .line-through {
    text-decoration: line-through;
  }

  .paragraph {
    margin: 1rem 0 0;
  }

  .dlist {
    margin: 1rem 0 0;

    .dlist {
      margin-top: 0.5rem;
    }

    .olist {
      margin-top: 0.5rem;
    }

    .ulist {
      margin-top: 0.5rem;
    }

    dt {
      font-style: italic;
    }

    dd {
      margin: 0 0 0.3rem 1.5rem;
    }
  }

  .olist {
    margin: 1rem 0 0;

    .dlist {
      margin-top: 0.5rem;
    }

    .olist {
      margin-top: 0.5rem;
    }

    .ulist {
      margin-top: 0.5rem;
    }

    li {
      margin-bottom: 0.5rem;
    }

    .listingblock {
      padding: 0;
    }
  }

  .ulist {
    margin: 1rem 0 0;

    .dlist {
      margin-top: 0.5rem;
    }

    .olist {
      margin-top: 0.5rem;
    }

    .ulist {
      margin-top: 0.5rem;
    }

    li {
      margin-bottom: 0.5rem;
    }

    .listingblock {
      padding: 0;
    }
  }

  .exampleblock {
    margin: 1rem 0 0;

    .title {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      padding-bottom: 0.075rem;
      text-align: left;
    }

    > .content {
      background: var(--example-background);
      border: 0.25rem solid var(--example-border-color);
      border-radius: 0.5rem;
      padding: 0.75rem;

      > {
        :first-child {
          margin-top: 0;
        }
      }
    }
  }
  .videoblock,
  .imageblock {
    margin: 1rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    .title {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      // padding-bottom: 0.075rem;
      text-align: left;
      margin-top: 0.5rem;
      padding-bottom: 0;
    }
  }

  .videoblock iframe {
    max-width: 100%;
    vertical-align: middle;
  }

  .listingblock {
    margin: 1rem 0 0;

    .title {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      padding-bottom: 0.075rem;
      text-align: left;
    }

    pre {
      &:not(.highlight) {
        background: var(--pre-background);
        box-shadow: inset 0 0 1.75px var(--pre-border-color);
        display: block;
        overflow-x: auto;
        padding: 0.75rem;
      }
    }

  }

  .literalblock {
    margin: 1rem 0 0;

    .title {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      padding-bottom: 0.075rem;
      text-align: left;
    }

    pre {
      background: var(--pre-background);
      box-shadow: inset 0 0 1.75px var(--pre-border-color);
      display: block;
      overflow-x: auto;
      padding: 0.75rem;
    }
  }

  .sidebarblock {
    margin: 1rem 0 0;
    background: var(--sidebar-background);
    border-radius: 0.75rem;
    padding: 0.75rem 1.5rem;

    > .content {
      > .title {
        font-size: calc(22.5 / var(--rem-base) * 1rem);
        font-weight: var(--alt-heading-font-weight);
        line-height: 1.3;
        margin-bottom: -0.3em;
        text-align: center;
      }

      > {
        :not(.title) {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  .verseblock {
    margin: 1rem 0 0;
    background: var(--quote-background);
    border-left: 5px solid var(--quote-border-color);
    color: var(--quote-font-color);
    font-size: 1.15em;
    padding: 1rem 2rem;

    pre {
      font-family: inherit;
      font-size: inherit;
    }
  }

  .quoteblock {
    margin: 1rem 0 0;
    background: var(--quote-background);
    border-left: 5px solid var(--quote-border-color);
    color: var(--quote-font-color);
    padding: 0.25rem 2rem 1.25rem;

    .attribution {
      color: var(--quote-attribution-font-color);
      font-size: calc(15 / var(--rem-base) * 1rem);
      margin-top: 0.75rem;
    }

    blockquote {
      margin-top: 1rem;
    }

    .paragraph {
      font-style: italic;
    }

    cite {
      padding-left: 1em;
    }
  }

  .partintro {
    margin: 1rem 0 0;
  }

  table.tableblock {
    border-collapse: collapse;
    font-size: calc(15 / var(--rem-base) * 1rem);
    margin: 2rem 0;

    thead {
      th {
        border-bottom: 2.5px solid var(--table-border-color);
        padding: 0.5rem;
      }
    }

    td {
      border-top: 1px solid var(--table-border-color);
      border-bottom: 1px solid var(--table-border-color);
      padding: 0.5rem;
    }

    > {
      :not(thead) {
        th {
          border-top: 1px solid var(--table-border-color);
          border-bottom: 1px solid var(--table-border-color);
          padding: 0.5rem;
        }
      }
    }

    .paragraph {
      margin: 0;
      padding: 0;
    }

    .admonitionblock {
      padding: 0;
    }
  }

  table.stretch {
    width: 100%;
  }

  .halign-left {
    text-align: left;
  }

  .halign-right {
    text-align: right;
  }

  .halign-center {
    text-align: center;
  }

  .valign-top {
    vertical-align: top;
  }

  .valign-bottom {
    vertical-align: bottom;
  }

  .valign-middle {
    vertical-align: middle;
  }

  .admonitionblock {
    margin: 1.4rem 0;
    padding: 1.7rem 1.5rem 0;
    border-left-style: solid;
    border-left-width: 1rem;

    p {
      font-size: calc(16 / var(--rem-base) * 1rem);
    }

    td.content {
      font-size: calc(16 / var(--rem-base) * 1rem);
      padding: 1.5rem 0;
      width: 100%;

      > {
        :first-child {
          margin: 0;
        }
      }
    }

    pre {
      font-size: calc(15 / var(--rem-base) * 1rem);
    }

    > table {
      border-collapse: collapse;
      table-layout: fixed;
      position: relative;
      width: 100%;
    }

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1rem;
      padding: 0 0.5rem;
      height: 1.25rem;
      line-height: 1;
      font-weight: var(--admonition-label-font-weight);
      border-radius: 0.45rem;
      transform: translate(-0.5rem, -50%);

      i {
        display: inline-flex;
        align-items: center;
        height: 100%;

        &::after {
          padding-left: 10px;
          content: attr(title);
        }
      }
    }

    .listingblock {
      padding: 0;
    }

    .title {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      padding-bottom: 0.075rem;
      text-align: left;

      + {
        .paragraph {
          margin-top: 0;
        }
      }
    }

    a {
      color: var(--color-admonition-link);
    }
  }

  .doc .admonitionblock .icon {
    border-radius: 1rem;
  }

  i.fa[class^="icon-"],
  i.fa[class*=" icon-"]::before {
    content: "";
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 0.25rem;
  }

  .admonitionblock.caution {
    background-color: var(--color-admonition-caution-bg);
    border-color: var(--color-admonition-caution);
    color: var(--color-admonition-caution-text);
    border-radius: 8px;

    .icon {
      i.fa.icon-caution::before {
        background: no-repeat url("../img/caution.svg");
        background-color: var(--color-admonition-caution);
        border-radius: 50%;
      }
    }

    p {
      code {
        background-color: var(--color-admonition-caution-bg);
      }
    }

    pre.highlight code {
      background-color: var(--color-admonition-caution-bg);
    }

    strong {
      color: var(--color-admonition-caution-text);
    }

    table.tableblock {
      td {
        border-top-color: var(--color-admonition-caution);
        border-bottom-color: var(--color-admonition-caution);
      }

      thead th {
        border-bottom-color: var(--color-admonition-caution);
      }

      > {
        :not(thead) {
          th {
            border-top-color: var(--color-admonition-caution);
            border-bottom-color: var(--color-admonition-caution);
          }
        }
      }
    }
  }

  .admonitionblock.important {
    background-color: var(--color-admonition-important-bg);
    border-color: var(--color-admonition-important);
    color: var(--color-admonition-important-text);
    border-radius: 8px;

    .icon {
      i.fa.icon-important::before {
        background: no-repeat url("../img/important.svg");
        background-color: var(--color-admonition-important);
        border-radius: 50%;
      }
    }

    p {
      code {
        background-color: var(--color-admonition-important-bg);
      }
    }

    pre.highlight code {
      background-color: var(--color-admonition-important-bg);
    }

    strong {
      color: var(--color-admonition-important-text);
    }

    table.tableblock {
      td {
        border-top-color: var(--color-admonition-important);
        border-bottom-color: var(--color-admonition-important);
      }

      thead th {
        border-bottom-color: var(--color-admonition-important);
      }

      > {
        :not(thead) {
          th {
            border-top-color: var(--color-admonition-important);
            border-bottom-color: var(--color-admonition-important);
          }
        }
      }
    }
  }

  .admonitionblock.note {
    background-color: var(--color-admonition-note-bg);
    border-color: var(--color-admonition-note);
    color: var(--color-admonition-note-text);
    border-radius: 8px;

    .icon {
      i.fa.icon-note::before {
        background: no-repeat url("../img/note.svg");
        background-color: var(--color-admonition-note);
        border-radius: 50%;
      }
    }

    p {
      code {
        background-color: var(--color-admonition-note-bg);
      }
    }

    pre.highlight code {
      background-color: var(--color-admonition-note-bg);
    }

    strong {
      color: var(--color-admonition-note-text);
    }

    table.tableblock {
      td {
        border-top-color: var(--color-admonition-note);
        border-bottom-color: var(--color-admonition-note);
      }

      thead th {
        border-bottom-color: var(--color-admonition-note);
      }

      > {
        :not(thead) {
          th {
            border-top-color: var(--color-admonition-note);
            border-bottom-color: var(--color-admonition-note);
          }
        }
      }
    }
  }

  .admonitionblock.note.bonitacloud {
    .icon {
      i.fa.icon-note::before {
        background: url("../img/cloud.svg") no-repeat;
        background-color: var(--color-admonition-note);
        border-radius: 50%;
      }
    }
  }

  .admonitionblock.tip {
    background-color: var(--color-admonition-tip-bg);
    border-color: var(--color-admonition-tip);
    color: var(--color-admonition-tip-text);
    border-radius: 8px;

    .icon {
      i.fa.icon-tip::before {
        background: no-repeat url("../img/tip.svg");
        background-color: var(--color-admonition-tip);
        border-radius: 50%;
      }
    }

    p {
      code {
        background-color: var(--color-admonition-tip-bg);
      }
    }

    pre.highlight code {
      background-color: var(--color-admonition-tip-bg);
    }

    strong {
      color: var(--color-admonition-tip-text);
    }

    table.tableblock {
      td {
        border-top-color: var(--color-admonition-tip);
        border-bottom-color: var(--color-admonition-tip);
      }

      thead th {
        border-bottom-color: var(--color-admonition-tip);
      }

      > {
        :not(thead) {
          th {
            border-top-color: var(--color-admonition-tip);
            border-bottom-color: var(--color-admonition-tip);
          }
        }
      }
    }
  }

  .admonitionblock.warning {
    background-color: var(--color-admonition-warning-bg);
    border-color: var(--color-admonition-warning);
    color: var(--color-admonition-warning-text);
    border-radius: 8px;

    .icon {
      i.fa.icon-warning::before {
        background: no-repeat url("../img/warning.svg");
        background-color: var(--color-admonition-warning);
        border-radius: 50%;
      }
    }

    p {
      code {
        background-color: var(--color-admonition-warning-bg);
      }
    }

    pre.highlight code {
      background-color: var(--color-admonition-warning-bg);
    }

    strong {
      color: var(--color-admonition-warning-text);
    }

    table.tableblock {
      td {
        border-top-color: var(--color-admonition-warning);
        border-bottom-color: var(--color-admonition-warning);
      }

      thead th {
        border-bottom-color: var(--color-admonition-warning);
      }

      > {
        :not(thead) {
          th {
            border-top-color: var(--color-admonition-warning);
            border-bottom-color: var(--color-admonition-warning);
          }
        }
      }
    }
  }

  .image {
    > img {
      height: auto;
      max-width: 100%;
    }
  }

  ol {
    margin: 0;
  }

  ul {
    margin: 0;
  }

  ol.arabic {
    list-style-type: decimal;
  }

  ol.decimal {
    list-style-type: decimal-leading-zero;
  }

  ol.loweralpha {
    list-style-type: lower-alpha;
  }

  ol.upperalpha {
    list-style-type: upper-alpha;
  }

  ol.lowerroman {
    list-style-type: lower-roman;
  }

  ol.upperroman {
    list-style-type: upper-roman;
  }

  ol.lowergreek {
    list-style-type: lower-greek;
  }

  ul.checklist {
    padding-left: 0.5rem;
    list-style: none;

    p {
      > i.fa-check-square-o {
        &:first-child {
          display: inline-flex;
          justify-content: center;
          width: 1.25rem;
        }
      }

      > i.fa-square-o {
        &:first-child {
          display: inline-flex;
          justify-content: center;
          width: 1.25rem;
        }
      }
    }

    i.fa-check-square-o {
      &::before {
        content: "\2713";
      }
    }

    i.fa-square-o {
      &::before {
        content: "\274f";
      }
    }
  }

  .openblock {
    .title {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      padding-bottom: 0.075rem;
      text-align: left;
    }
  }

  .listingblock.wrap {
    pre {
      white-space: pre-wrap;
    }
  }

  pre.highlight {
    code {
      background: var(--pre-background);
      box-shadow: inset 0 0 1.75px var(--pre-border-color);
      display: block;
      overflow-x: auto;
      padding: 0.75rem;
    }

    position: relative;
  }

  .colist {
    font-size: calc(16 / var(--rem-base) * 1rem);
    margin: 0.25rem 0 -0.25rem;

    > table {
      > tr {
        > {
          :first-child {
            padding: 0.25em 0.5rem 0;
            vertical-align: top;
          }

          :last-child {
            padding: 0.25rem 0;
          }
        }
      }

      > tbody {
        > tr {
          > {
            :first-child {
              padding: 0.25em 0.5rem 0;
              vertical-align: top;
            }

            :last-child {
              padding: 0.25rem 0;
            }
          }
        }
      }
    }
  }

  .conum[data-value] {
    border: 1px solid currentColor;
    border-radius: 100%;
    display: inline-block;
    font-family: var(--body-font-family);
    font-size: calc(13.5 / var(--rem-base) * 1rem);
    font-style: normal;
    height: 1.25em;
    line-height: 1.2;
    text-align: center;
    width: 1.25em;
    letter-spacing: -0.25ex;
    text-indent: -0.25ex;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    border-color: var(--color-black);

    &::after {
      content: attr(data-value);
    }

    + {
      b {
        display: none;
      }
    }
  }

  b.button {
    white-space: nowrap;
    hyphens: none;

    &::before {
      content: "[";
      padding-right: 0.25em;
    }

    &::after {
      content: "]";
      padding-left: 0.25em;
    }
  }

  kbd {
    display: inline-block;
    font-size: calc(12 / var(--rem-base) * 1rem);
    background: var(--kbd-background);
    border: 1px solid var(--kbd-border-color);
    border-radius: 0.25em;
    box-shadow: 0 1px 0 var(--kbd-border-color),
    0 0 0 0.1em var(--body-background) inset;
    padding: 0.25em 0.5em;
    vertical-align: text-bottom;
    white-space: nowrap;
    line-height: 1;
    hyphens: none;
  }

  .keyseq {
    line-height: 1;
    font-size: calc(16 / var(--rem-base) * 1rem);

    kbd {
      margin: 0 0.125em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .menuseq {
    i.caret {
      &::before {
        content: "\203a";
        font-size: 1.1em;
        font-weight: var(--body-font-weight-bold);
        line-height: calc(1 / 1.1);
      }
    }

    hyphens: none;
  }

  a.bare {
    hyphens: none;
  }

  code {
    hyphens: none;
  }

  .path {
    hyphens: none;
  }

  .icon {
    i {
      &::after {
        hyphens: none;
      }
    }
  }

  th.tableblock {
    word-break: break-word;
  }

  td.tableblock {
    word-break: break-word;
  }
}


#preamble {
  + {
    .sect1 {
      margin-top: 2rem;
    }
  }

  .abstract {
    blockquote {
      background: var(--abstract-background);
      border-left: 5px solid var(--abstract-border-color);
      color: var(--abstract-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      padding: 0.75em 1em;
    }
  }
}

@media screen and (min-width: 1024px) {
  .doc {
    flex: auto;
    font-size: var(--doc-font-size--desktop);
    margin: var(--doc-margin--desktop);
    max-width: var(--doc-max-width--desktop);
    min-width: 0;
  }
}

@media (min-width: 1500px) {
  .doc {
    max-width: var(--doc-max-width--desktop--large);
  }
}

@media screen and (min-width: 769px) {
  .doc {
    > h1.page {
      &:first-child {
        margin-top: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .videoblock {
    iframe {
      width: inherit;
      height: inherit;
    }
  }
}

.pagenotfound {
  text-align: center;
  margin-bottom: 100px;
  color: var(--color-red);
  font-size:24px;
}
