@font-face {
  font-family: 'PT Sans';
  src: url('PTSans-Regular.eot');
  src: local('../font/PT Sans'), local('../font/PTSans-Regular'),
    url('../font/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/PTSans-Regular.woff2') format('woff2'),
    url('../font/PTSans-Regular.woff') format('woff'),
    url('../font/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-BoldItalic.eot');
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url('../font/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/PTSans-BoldItalic.woff2') format('woff2'),
    url('../font/PTSans-BoldItalic.woff') format('woff'),
    url('../font/PTSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Italic.eot');
  src: local('PT Sans Italic'), local('PTSans-Italic'),
    url('../font/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../font/PTSans-Italic.woff2') format('woff2'),
    url('../font/PTSans-Italic.woff') format('woff'),
    url('../font/PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Bold.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../font/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/PTSans-Bold.woff2') format('woff2'),
    url('../font/PTSans-Bold.woff') format('woff'),
    url('../font/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../font/PTSerif-BoldItalic.eot');
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'),
    url('../font/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/PTSerif-BoldItalic.woff2') format('woff2'),
    url('../font/PTSerif-BoldItalic.woff') format('woff'),
    url('../font/PTSerif-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../font/PTSerif-Bold.eot');
  src: local('PT Serif Bold'), local('PTSerif-Bold'),
    url('../font/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/PTSerif-Bold.woff2') format('woff2'),
    url('../font/PTSerif-Bold.woff') format('woff'),
    url('../font/PTSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../font/PTSerif-Italic.eot');
  src: local('PT Serif Italic'), local('PTSerif-Italic'),
    url('../font/PTSerif-Italic.eot?#iefix') format('embedded-opentype'),
    url('../font/PTSerif-Italic.woff2') format('woff2'),
    url('../font/PTSerif-Italic.woff') format('woff'),
    url('../font/PTSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../font/PTSerif-Regular.eot');
  src: local('PT Serif'), local('PTSerif-Regular'),
    url('../font/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/PTSerif-Regular.woff2') format('woff2'),
    url('../font/PTSerif-Regular.woff') format('woff'),
    url('../font/PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Mono';
  src: url('../font/PTMono-Regular.eot');
  src: local('PT Mono'), local('PTMono-Regular'),
    url('../font/PTMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/PTMono-Regular.woff2') format('woff2'),
    url('../font/PTMono-Regular.woff') format('woff'),
    url('../font/PTMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "globals/vars";
@import "base.scss";
@import "body.scss";
@import "nav.scss";
@import "main.scss";
@import "toolbar.scss";
@import "breadcrumbs.scss";
@import "page-versions.scss";
@import "toc.scss";
@import "doc.scss";
@import "pagination.scss";
@import "header.scss";
@import "footer.scss";
@import "print.scss";
@import "components/cards";
@import "search.scss";
@import "loader.scss";
@import "components/troubleshooting.scss";
@import "components/colors.scss";
