<article class="doc">
  <div class="pagenotfound">
    <p>OOPS, LOOKS LIKE THE PAGE CANNOT BE FOUND...</p>
  </div>
  <div class="paragraph">
    <p>
      If you arrived at this page by clicking on a link, please notify the owner of the site that the link is broken.
      If you typed the URL of this page manually, please double-check that you entered the address correctly.
    </p>
  </div>
</article>
