<script>window.uiRootPath = '{{{uiRootPath}}}'</script>
<script src="{{{uiRootPath}}}/js/vendor/highlight.min.js"></script>
<script src="{{{uiRootPath}}}/js/vendor/libs.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{{uiRootPath}}}/js/site.js"></script>

{{!-- DocSearch only available if the search bar is displayed --}}
{{#if (isSearchBarDisplayed site page)}}
  <script type="text/javascript">
    docsearch({
      container: '#docsearch',
      appId: 'LWD25NX3CD',
      apiKey: '6408f799f329e3a010e6a5ac397210d8',
      indexName: 'index',
      hitsPerPage: 20,
      searchParameters: {
      {{#if page.attributes.version-alias}}
        facetFilters: [["version:{{page.version}}", "version:{{page.attributes.version-alias}}"], "tags:{{page.component.name}}"],
      {{else}}
        facetFilters: [["version:{{page.version}}"], "tags:{{page.component.name}}"],
      {{/if}}
      }
    });
  </script>
{{/if}}
<script>
  // init toggle state
  const isDarkThemeEnable = localStorage.getItem('theme') === 'dark';
  initializeThemeToggleIfAvailable('check', isDarkThemeEnable);
  initializeThemeToggleIfAvailable('check-mobile', isDarkThemeEnable);

  function initializeThemeToggleIfAvailable(elementId, checked) {
    const checkElement = document.getElementById(elementId);
    if(checkElement) {
      checkElement.checked = checked;
    }
  }
</script>
