<header class="header">
  <nav class="navbar {{~#if site.keys.nonProduction}} navbar-nonProduction {{/if~}}">
    <div class="navbar-brand">
      {{#if site.keys.nonProduction}}
        <img class="navbar-item" src="{{uiRootPath}}img/logo.png" height="30">
        <div class="navbar-item-nonProduction">
          <p>{{{site.title}}}</p>
        </div>
      {{/if}}
    </div>
    <div id="topbar-nav" class="navbar-menu">
      {{#unless site.keys.hideNavbarComponentsList}}
        {{#each site.components}}
          <div class="navbar-item is-hoverable">
            <a class="navbar-link" href="{{{./latest.url}}}">{{{./title}}}</a>
          </div>
        {{/each}}
      {{/unless}}
    </div>
    <div class="navbar-item hide-for-print">
      {{#if env.SITE_SEARCH_PROVIDER}}
        {{> search-scripts}}
      {{/if}}
      <input id="search-input" type="text" placeholder="Search" onclick="confineEvent(this.id)">
      <div class="search-result-dropdown-menu" onclick="confineEvent(this)"></div>
    </div>
    <div class="navbar-end" id="search-container">
      {{#if env.SITE_SEARCH_PROVIDER}}
        {{> search-scripts}}
      {{/if}}
      <div class="theme-switch-wrapper">
        <input type="checkbox" class="checkbox" onclick="toggleDarkThemeMode(this)" id="check" data-enpassusermodified="yes">
        <div class="toggle-content">
          <label class="label" for="check">
            <span>🌜</span>
            <span>🌞</span>
            <div class="ball"></div>
          </label>
        </div>
      </div>
      <div class="navbar-item hide-for-print">
        <div class="search-field">
          <input id="search-input" class="search-input" type="search" placeholder="Search" data-enpassusermodified="yes">
          <button type="submit" class="search-button">
            <i class="fa fa-search"></i>
          </button>
          <div class="search-result-dropdown-menu"></div>
        </div>
      </div>
      {{#unless page.home}}
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="{{{site.homeUrl}}}{{page.module}}/_attachments/{{page.module}}_pdf.pdf" target="_blank" rel="noreferrer nopener">Download</a>
          </span>
        </div>
      {{/unless}}
      <button class="navbar-burger" data-target="topbar-nav-mobile">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
